.verify-user {
  width: 100%;
  background-color: var(--background-sub-color) !important;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .title {
    background-color: inherit;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  .content {
    background-color: inherit;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 40px;

    .strong-text {
      background-color: inherit;
      font-weight: bold;
      font-size: 40px;
      line-height: 48px;
      color: var(--stand-color);
    }
  }

  .btn-section {
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    .sign-btn {
      height: 48px;
      min-width: 164px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      border-radius: 8px;
      color: #000;
      background-color: var(--stand-color);
      transition: 0.2s all ease-in-out;

      &:hover {
        background-color: var(--stand-hover-color);
      }
    }
  }
}
