:root {
  --background-color: #181a20;
  --background-sub-color: #1e2329;
  --color: #eaecef;
  --stand-color: #f0b90b;
  --stand-hover-color: #c99400;
  --anti-color: #1e2329;
  --faq-no-border-color: #2b3139;
  --faq-item-background-hover-color: #1e2329;
}
