:root {
  --background-color: #fff;
  --background-sub-color: #fafafa;
  --color: #1e2329;
  --stand-color: #f0b90b;
  --stand-hover-color: #c99400;
  --anti-color: #fff;
  --faq-no-border-color: rgb(234, 236, 239);
  --faq-item-background-hover-color: rgb(250, 250, 250);
}
