@font-face {
  font-family: dexFont;
  src: url("./assets/font/custom.ttf");
  font-style: normal;
  font-weight: normal;
}

* {
  background-color: var(--background-color);
  color: var(--color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0px solid transparent;
  font-family: dexFont;
  font-size: 14px;
  text-decoration: none;
  line-height: 22px;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;

  @media (max-width: 576px) {
    width: calc(100% - 15px);
  }

  @media (min-width: 576px) {
    width: 540px;
  }

  @media (min-width: 768px) {
    width: 720px;
  }

  @media (min-width: 992px) {
    width: 960px;
  }

  @media (min-width: 1200px) {
    width: 1140px;
  }

  @media (min-width: 1400px) {
    width: 1320px;
  }
}

.relative {
  position: relative;
}
